* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: aliceblue;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s linear;
}

#color {
  background: black;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  padding: 25px 25px;
  transition: 1s ease-in-out;
  letter-spacing: 1px;
  font-weight: 500;
}
